body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffdde1 #ee9ca7);
    text-align: center;
    color: #333;
}

.hero {
    padding: 100px 20px;
    color: white;
}

.hero h1 {
    font-size: 3em;
}

.section {
    padding: 60px 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img:hover {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background: #ff4e78;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: #ff1e56;
}